html{
    color: #0A0A0A;
}
body{
    margin: 0 auto;
}

/* Nav Bar */

nav{
    font-family: 'Noto Sans', sans-serif;
    background-color: #0A0A0A;
}

ul{
    color: #FFFFFF;
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
li{
    padding: 20px;
}

/* Nav Bar Animation */
.navbar{
    transition: .1s background-color ease-in;
}

.navbar:hover{
    background-color: #08EDF9;
    color: #0A0A0A;
    border-radius: 50px;
}